body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: gray;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::after */
header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 7px;
    padding: 15px;
}

nav li:hover > a, nav li:hover {
    background-color: white;
    color: black;
}

.link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.introduction {
    padding-top: 30px;
    text-align: center;
}

.contact-information {
    padding-top: 30px;
    text-align: center;
}

.self-portrait {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}