/* Item center alignment */
.introduction, .contact-information {
    text-align: center;
}

/* Image resizing to appropriately fit into homepage */
.self-portrait {
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}